{% extends "layout.html" %}

{% block title %}
    All Modules
{% endblock %}

{% block main %}

<div class="writingbox">
<br>
<h4 id="section-undergraduate">Undergraduate Chemistry Modules: </h4>
<p>
            <h5>Stage 3</h5>
        •   Quantum Mechanics and Molecular Spectroscopy<br>
        •   Instrumental Analysis<br>
        •   Carbonyl Chemistry, Retrosynthesis and Synthetic Methods<br>
        •   Structure Determination and Aromatic Heterocyclic Chemistry<br>
        •   Mechanism, Stereochemistry and Alicyclic Chemistry<br>
        •   Symmetry and Computational Chemistry<br>
        •   Main Group Chemistry and Bonding<br>
        •   Organometallic and Solid State Chemistry<br>
        •   Soft Matter and Interfacial Chemistry<br>
        •   Chemical Thermodynamics<br>
        <br>
            <h5>Stage 4</h5>
        •   Metals in Biology<br>
        •   Methods in Organic Synthesis<br>
        •   Electrochemistry<br>
        •   Methods in Organic Synthesis 2<br>
        •   Modern Methods and Applications of Catalysis<br>
        •   Advanced kinetics and thermodynamics<br>
        •   Methods in Organic Synthesis 2<br>
        •   Reactivity and Change<br>
        •   Advanced Applications of Inorganic Chemistry<br>
</p>
</div>  
<div class='writingbox'>
<br>
<h4>Postgraduate Modules: </h4>
<p>    
        •   Introduction to Transmission Electron Microscopy<br>
        •   Advanced Atomic Force Microscopy (involved an extensive practical aspect)<br>
        •   Spectroscopic Techniques<br>
        •   Scientific Programming Concepts (based in the C programming language)<br>
</p>
</div>

{% endblock %}