{% extends "layout.html" %}

{% block title %}
    Education
{% endblock %}

{% block main %}

<img width=100% src="{{url_for('static',filename='UCD.jpeg')}}"> 
<div style="text-align: center;"> 
<h1>Academic Results and Awards</h1>
</div>
<div class="writingbox">
<p>
    •	Leaving Certificate (Abbey Vocational School) - 565/600 points<br>
    •	BSc Chemistry (University College Dublin) - 1st class honours degree (GPA 3.95/4.2)<br>
</p>
</div>  
<br>
<div class="writingbox">    
<p>
    •   ‘Entrance Scholar Award’ (2013) from UCD for results in the Leaving Certificate<br>
    •   ‘Ad Astra Academy Elite Athlete Scholarship’ (2013) from UCD for achievements in athletics (4 year scholarship)<br>
    •   ‘Government of Ireland Postgraduate Scholarship’ (2019) from the Irish Research Council to pursue a PhD in materials science / semiconductor physics<br>
    •   1 of 70 players selected from across Europe's top universities to compete in the 'Terminal Live Spring 2022 Europe Regional' AI 
programming competition, run by Correlation One on behalf of Citadel & Citadel Securities - <a href="https://www.credential.net/edd6463e-3d95-4fd1-8bae-01b5d076e941#gs.5nvror" target="_blank" id=para1>View Certificate</a>
</p>
</div>
<br>   
<div style="text-align: center;">
<h1 id="section-research">PhD Research</h1>
</div> 
<div class="writingbox">
<p> 
    •   Interdisciplinary research spanning materials chemistry, semiconductor physics and engineering fields<br>
    •   Peer-leading knowledge of the global scientific and engineering endeavour to build bio-emulative electronic synapses using nothing but organic molecules induced to self-assemble as functioning memristive devices with world-first operating characteristics<br>
•   During this time I had three first-author papers published in top scientific journals:
</p>
</div>
<br>
<div class="writingbox">
"A Purely Electronic Analog Memristive Device Based on a Squaraine Nanowire Mesh" <a href="https://pubs.acs.org/doi/full/10.1021/acsaelm.3c01238" target="_blank" id=para1>View</a><br>
"Charge Trapping-induced Current-voltage Hysteresis in a Squaraine Nanowire Mesh Enables Synaptic Memristive Functionality"<br>
"Volatile Memristive Devices with Analog Resistance Switching Based on Self-Assembled Squaraine Microtubes as Synaptic Emulators" <a href="https://pubs.acs.org/doi/full/10.1021/acsami.3c13735" target="_blank" id=para1>View</a>
</div>
<br>
<div style="text-align: center;">
<h1 id="section-modules">Contribution</h1>
</div>  
<div class="writingbox">
<b>Equality, Diversity and Inclusion Committee: </b>
From January 2021 - September 2022 I served as postgraduate student rep on the UCD College of Science Equality, Diversity and Inclusion committee representing the interests and concerns of the postgraduate population. I implemented and launched several initiatives including a mentor / mentee system between senior and junior PhD students.
<br>
<br>
<br>
</div>
    
{% endblock %}
