{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div>
<div style="text-align: center;"> 
<div class="writingbox">
<img class="img" src="{{url_for('static',filename='profiler.jpg')}}">        
<div class="wrapper">
<div class="typing-demo">
<h1>Hi, I'm <em>Karl Griffin!</em></h1>
</div>
</div>      
<h3>Chemistry PhD Student, Self-Taught Programmer, Interested in Working at the Intersection of Science & Tech
</h3>
<br>       
<p>
Hi, I am 27 years old and I am currently in third year of a materials chemistry / device physics PhD at University College Dublin. I completed my undergraduate degree here in 2019, and aim to complete my PhD by January 2023.
</p> 
<p>
My research is interdisciplinary and involves the study of organic nanomaterials and their applications in neuromorphic or 'brain-inpsired' computing. See 'Education' for more details.
</p> 
<p>
I also have a keen interest in computer programming which I began teaching myself at the beginning of my PhD. I have experience using Python, JavaScript, SQL, as well as web development using HTML, CSS and Flask. See 'Skills' for further elaboration.
</p>
<br>
<button class="button button1" type="submit" onclick="window.open('{{url_for('static',filename='KGCV.pdf')}}')">
View my CV
</button>
</div>  
</div>   
</div>

{% endblock %}
