{% extends "layout.html" %}

{% block title %}
    Programming Portfolio
{% endblock %}

{% block main %}


<div style="text-align: center;"> 
<br>
<h1>Projects Completed</h1>
</div>

<br>

<div class="writingbox">
<h3>Automated Gym Booker (Web Browser Automation)</h3><hr>
</div>
<div class="writingbox">    
<p>
During the COVID-19 restrictions, the gym in the university in which I am studying 
only allocated a certain number of places for each gym slot, with booking opening 
exactly three hours in advance of the slot. As a result, it booked out almost instantly
and people often didn't get a slot. This simple script automatically booked the specified 
gym slot - all I had to do was run the script just moments prior to the booking time. The 
functionality is enabled by employing Selenium for the browser automation, and my StudentID was stored as an
environment variable and was accessible using os.environ.
<br>
<br>
View the Python script: 
<br>
<button class="button button1" type="submit" onclick="window.open('{{url_for('static',filename='gym_booker.py')}}')">
.py Script
</button>
<br>
<br>
View the GitHub repository: <a href="https://github.com/karljgriffin/Automated_gym_booker" target="_blank" id=para1>Github Repo</a>
</p>
</div>

<br>

<div class="writingbox">
<h3>Premier League Stats (Web Scraping, Data Analysis & Visualisation)</h3><hr>
</div>
<div class="writingbox">    
<p>
This is a project which I undertook because of my love for football. I wanted to work on 
a Premier League (PL) data science project but all of the API's were too expensive. So this project
scrapes a popular football stats website (FotMob) using Beautiful Soup, and I then perform some structuring
of this scraped data and convert it into a Python dictionary and subsequently a .JSON format (just paste
the whole .JSON file into <a href="http://jsonviewer.stack.hu/" target="_blank" id=para1>JSON Viewer</a> to inspect 
all of the scraped data). The data that I have accrued comprises the following:
<br>
<br>
•    Includes every season from 2016/17 to 2021/2022
<br>
•    Includes every team that has played in the PL during that period
<br>
•    Includes 26 different stats
<br>
<br>
Once I had converted the data into a .JSON format, I was then able to make a Pandas dataframe (df) 
which I indexed by year and then by club. I performed some further analysis on the data using Pandas,
and employed Matplotlib to visualise some of the stats. I also saved the data to a SQLite database.
<br>
<br>
View the Python script: 
<br>
<button class="button button1" type="submit" onclick="window.open('{{url_for('static',filename='')}}')">
.py Script
</button>
<br>
<br>
View the .JSON file: 
<br>
<button class="button button1" type="submit" onclick="window.open('{{url_for('static',filename='PLData_Final.json')}}')">
.JSON File
</button>
<br>
<br>
View the .csv file of the Pandas df: 
<br>
<button class="button button1" type="submit" onclick="window.open('{{url_for('static',filename='PLData_Final.csv')}}')">
.csv File
</button>
<br>
<br>
View the GitHub repository: <a href="https://github.com/karljgriffin/PremierLeagueStats_201617_to_202122" target="_blank" id=para1>Github Repo</a>
</p>
</div>

<br>

<div class="writingbox">
<h3>Luhn's Algorithm (Object-Oriented Programming)</h3><hr>
</div>
<div class="writingbox">    
<p>
This short project involves solving the Luhn algorithm to check if a credit card number is valid.
I instantiate several credit cards from a .csv file using a class method, and I then check the validity of the card numbers
using a static method. The .csv file consists of one valid card number and one invalid card number so as 
to test my algorithm.
<br>
<br>
View the Python script: 
<br>
<button class="button button1" type="submit" onclick="window.open('{{url_for('static',filename='luhns_algo.py')}}')">
.py Script
</button>
<br>
<br>
View the GitHub repository: <a href="https://github.com/karljgriffin/Luhns_algorithm" target="_blank" id=para1>Github Repo</a>
</p>
</div>

<br>

<div class="writingbox">
<h3>Web Development</h3><hr>
</div>
<div class="writingbox">    
<p>
I have also built and deployed several websites using HTML, CSS and Flask, including this website. 
The websites I have developed include:
<br>
<br>
•    <a href="http://www.karlgriffin.com" target="_blank" id=para1>www.karlgriffin.com</a> Built using HTML, CSS and Flask. View the GitHub repository:
<a href="https://github.com/karljgriffin/karlgriffinwebsite" target="_blank" id=para1>Github Repo</a>
<br>
•    <a href="http://www.wwwbrid22.com" target="_blank" id=para1>www.wwwbrid22.com</a> Built using HTML, CSS and Flask. View the GitHub repository:
<a href="https://github.com/karljgriffin/weightandwellnesswithbridwebsite" target="_blank" id=para1>Github Repo</a>
<br>
•    <a href="https://sevenarcheslaghey.com" target="_blank" id=para1>sevenarcheslaghey.com</a> Built using GoDaddy template.
<br>
•    <a href="https://oneillsbarletterbarra.com" target="_blank" id=para1>oneillsbarletterbarra.com</a> Built using GoDaddy template.
</p>
</div>


{% endblock %}