{% extends "layout.html" %}

{% block title %}
    Skills
{% endblock %}

{% block main %}

<img width=100% src="{{url_for('static',filename='NWsHighRes.png')}}">
<br>
<br>
<!-- Container with 2 tables of skills -->
<div class="container1">
<section>
<h2>Laboratory and Technical Skills</h2><hr>
<h4>Practical Experience</h4>
<p>
During my undergraduate degree, I gained comprehensive lab and technical skills in all aspects of chemistry including organic, inorganic and physical chemistry. During my PhD, I have honed my skills further, with some of these outlined below:
</p>
<div class="table-holder">
<table class="writingbox">
<div class="writingbox">
<h5>Nanomaterial Preparation Techniques</h5><hr>
•	Nanowire preparation via self-assembly<br><br>
<h5>Electrochemical and Optical Characterisation</h5><hr>
•	Cyclic voltammetry, UV-Vis spectroscopy (solution and solid-state), photoluminescence spectroscopy (solution and solid-state)<br><br>
<h5>Structural Characterisation</h5><hr>
•	Atomic force microscopy, scanning electron microscopy, optical microscopy, powder and single crystal x-ray diffraction, x-ray photoelectron spectroscopy, ultraviolet photoelectron spectroscopy<br><br>
<h5>Electrical Characterisation</h5><hr>
•	 Current-voltage testing, electrochemical impedance spectroscopy and equivalent circuit modelling, memristive and neuromorphic measurement design and analysis
<br>
<br> 
</div>
</table>
</div>
</section><br>
<section>
<h4>Data Analysis</h4>
<p>
Throughout the duration of my PhD I have routinely been dealing with large datasets, tasked with doing comprehensive analysis, extracting relevant information, and presenting that information in succint and visually stimulating ways so as to be digestible to the reader. Below are some of the tools I have employed in undertaking those data analysis and visualisation tasks:
</p>
<div class="table-holder2">
<table>
<div class="writingbox"> 
<h5>Highly Competent in the Relevant Analytical Software</h5><hr>
•	ImageJ (nanomaterial size characterisation), PS-Trace (electrochemical software), EC-Lab (electrochemical software), Mercury (crystallographic software)<br><br>
<h5>Highly Competent in Data Analysis and Visualisation Software</h5><hr>
•	Excel, Kaleidagraph (MacOS data visualisation software), Origin (Windows data visualisation software), Python (via use of Matplotlib, Seaborn, NumPy and Pandas libraries)
</div>
</table>
</div>
</section>
</div>
<br>
<br>
<div class="container1">
<section>
<h2>Coding</h2><hr>
<p>
At the beginning of my PhD in late 2019 / early 2020 I took it upon myself to learn a little bit about computer programming. I began with basic Python and command line fundamentals, before moving on to learn Python for data science. I then started to learn some SQL (in particular PostgreSQL). From there this took me to learning about Git and Github. I then began to explore some aspects of web-developement, and began learning HTML, CSS, as well as tying Python back in with some Flask. I have experience deploying websites using Heroku and other platforms. I am also proficient in the fundamentals of JavaScript.
</p>
<div class="table-holder">
<table class="writingbox">
<div class="writingbox">
<h5>Python (Programming Language)</h5><hr>
•   Comfortable with all aspects of Python syntax, data-types, functional programming as well as object-oriented programming (OOP)
<br>
<br>
•   Have used matplolib and seaborn extensively for data visualisation, as well as NumPy and Pandas.       In the case of the latter, I am comfortable with dealing with large dataframes, performing SQL-type joins and merges
<br>
<br>
•   Have performed web scraping with Python, as well as using Selenium for implementing automation (see my GitHub for more information)
<br>
<br>
•	<b>Udemy certificate of completion “2021 Complete Python Bootcamp"</b> 
<button class="button button1" type="submit" onclick="window.open('{{url_for('static',filename='pycert1.jpg')}}')">
View Certificate
</button>
<br>
<br>
<h5>SQL (Database Language)</h5><hr>
•	Proficient in PostgreSQL – comfortable with the SQL syntax, searching and creating databases, performing merges / joins 
<br> 
<br>
•	<b>Udemy certificate of completion “The Complete SQL Bootcamp 2021"</b>
<button class="button button1" type="submit" onclick="window.open('{{url_for('static',filename='sqlcert1.jpg')}}')">
View Certificate
</button>
<br>
<br>
<h5>Git (Version Control System)</h5><hr>
•	Proficient in git and command line fundamentals, as well as using GitHub<br><br>
<h5>HTML / CSS & Flask (Web Development)</h5><hr>
•	Experience creating website and web-applications with HTML, CSS and Flask
<br>
<br>
•   Experience in deployment / hosting of websites and web-applications using GoDaddy and Heroku
<br>
<br>
<h5>JavaScript (Programming Language)</h5><hr>
•	Proficient in JS fundamentals and syntax
<br>
<br>  
<h5>C (Programming Language)</h5><hr>
•	Completion of postgraduate module based on the C programming language run by the Irish Centre for High-End Computing (ICHEC) focussed on scientific computing and mathematical concepts (see GitHub repository called sciprog21 for examples of problem sets and completed assignments)
<br>
<br>
•	<b>Take a look at the exam paper to get an idea of the material completed:</b>
<button class="button button1" type="submit" onclick="window.open('{{url_for('static',filename='ExamUCD21.pdf')}}')">
View Exam Paper
</button>
<br>
<br>
</div>
</table>
</div>
</section>
</div>
<br>
<br>

{% endblock %}