{% extends "layout.html" %}

{% block title %}
    Sport
{% endblock %}

{% block main %}

<img width=100% src="{{url_for('static',filename='tartan.png')}}"> 
<div style="text-align: center;">
<h1>Athletic Profile</h1>
</div>
<div class='container1'>
<div class="row">
<div class="column">
<table>
<tr>
<th>Date of Birth</th>
<td style="background-color:#666666">5th June 1995</td>
</tr>
<tr>
<th>Height</th>
<td style="background-color:#666666">5ft 10in</td>
</tr>
<th>Racing Weight</th>
<td style="background-color:#666666">68kg</td>
<tr>
<th>Speciality</th>
<td style="background-color:#666666">800m</td>
</tr>
</table> 
</div>
<div class="column">
<table>
<tr>
<th>200m</th>
<td style="background-color:#666666">21.7h</td>
</tr>
<tr>
<th>400m</th>
<td style="background-color:#666666">48.10</td>
</tr>
<tr>
<th>800m</th>
<td style="background-color:#666666">1:47.39</td>
</tr>
<tr>
<th>5k</th>
<td style="background-color:#666666">16:40</td>
</tr>
</table>
</div>
</div>
</div> 
<div style="text-align: center;"><br><br>
<h1>Sporting Achievements</h1>
</div>
<div class="writingbox">
<p>
I specialised in the 800 metres from 2009 until 2018. In 2012 at the age of 16, I broke the Irish Youth (u18) 800m record with a time of 1:49.63. In 2014 I went on to run 1:47.44 at the Morton Games in Santry Dublin to qualify for the World Junior (u20) Athletics Championships in Eugene, Oregon. From 2014 until 2018 I was sponsored by New Balance. In 2018 I took the difficult decision to step away from running due to recurring injury issues, deciding to focus on my academic career instead. 
<br>
</p>
</div> 
<div style="text-align: center;">
<br>
<a href="https://worldathletics.org/athletes/ireland/karl-griffin-14428855" target="_blank" id=para1>Profile: Karl Griffin - World Athletics</a>
</div>
<br>
<br>
<div style="text-align: center;">
<h3>European u23 Final, Tallinn, 2015</h3>
<div class='writingbox'>
    <iframe width="315px" height="315px" src="https://www.youtube.com/embed/Sw6aLHbznG0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
</div>
</div>
<div style="text-align: center;"><br><br>
<h3>Achievements include: </h3>
</div>
<div class="writingbox" style="margin:auto">
<p><i>
•       Irish youth (u18) 800m record (1:49.63 in 2012)
<br>
•       Second fastest Irish junior (u20) athlete of all time over 800m (1:47.44 in 2014)
<br>
•       2011 - European Youth Championships, bronze medal, 800m (Trabzon, Turkey)
<br>
•       2012 - World Junior Championships, 800m (Barcelona, Spain)
<br>
•       2013 - European Junior Championships, 800m (Rieti, Italy)
<br>
•       2014 - World Junior Championships, 12th place, 800m (Oregon, USA)
<br>
•       2014 - ‘Irish Junior Athlete of the Year Award’
<br>
•       2015 - European u23 Championships, 6th place, 800m (Tallinn, Estonia)
<br>
•       2015 - Morton Games 800m winner (Dublin, Ireland) 
<br>
•       2016 - European Senior Championships, 800m (Amsterdam, Holland)
<br>
•       2017 - European u23 Championships, 7th place, 4x400m (Bydgoszcz, Poland)</i>
</p>
</div>
<br>
<div style="text-align:center;">
<h1 id="section-qualifications">Sporting Qualifications</h1>
</div>
<div class="writingbox">
<p>
I gained comprehensive knowledge regarding running and exercise physiology over the years through hands-on experience as well as studying the relevant literature. I have also completed several qualifications in these areas. I am currently a qualified athletics coach and a qualified sports masseuse. In the future I would like to complete more courses and upskill myself further. I retain an avid interest in the world of athletics and health / fitness in general. Feel free to reach out to me if you are interested in discussing anything running or fitness-related.
<br>
<br>
</p>
</div>
<div style="text-align: center;" class="writingbox"> 
<p>
<h4>
•	Level 1 IAAF Certified Athletics Coach (January 2020 - present)</h4>
<h4>
•	VTCT Level 3 Diploma in Sports Massage Therapy (May 2019 - present)</h4>
</p>
</div>  

{% endblock %}
